@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding : 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;

}


.gameboard
{
     width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 460px;

}

.card
{
    /* width: 100px; */
    /* height: 120px; */
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
    /* margin: 10px 0;
    break-inside: avoid; */
    flex: 0 0 calc(33.33% - 25px);
    margin: 0;
}

.front, .back
{
    font-size: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: transform 0.5s;
    backface-visibility: hidden;

}
.back
{
    font-size: 1.2rem;
}
.front
{
    transform: rotateY(180deg);
    
}
.card.flipped .front{

    transform: rotateY(0);
}
.card.flipped .back{

    transform: rotateY(180deg);
}

@media (max-width: 900px) {
  .card {
    flex: 0 0 calc(30% - 25px);
  }
}

/* @media (max-width: 600px) {
  .card {
    flex: 0 0 calc(30% - 25px);
  }
} */


header{
    position: absolute;
    top: 0;
    padding: 30px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}